/* Global styles */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #777777;
  overflow: hidden;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 95%;
  max-height: 768px;
  background-color: #111111;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  max-width: 1366px;
}

.top-row {
  display: flex;
  width: 100%;
  height: 35%;
  margin-bottom: 10px; /* Adjust spacing */
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
  /*background*/
}

.date {
  margin-bottom: 20px;
  font-size: 3em;
}

.right-column {
  width: 50%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  width: 100%;
  display: flex;
}

#additional-info {
  margin-top: 20px;
  width: 40%;
  font-size: 1em;
}

#weather {
  font-size: 2em;
  text-align: leftt;
  flex-direction: column;
}

#temp {
  width: 60%;
  margin-top: 20px;
  font-size: 5em;
  text-align: left;
}

#weather-icon {
  position: absolute;
  z-index: 100; /* Ensure it's above other elements if necessary */
}

.forecast-container {
  width: 100%; /* Occupy full width of the parent container */
  height: auto; /* Allow height to adjust automatically */
  max-width: 100%; /* Ensure it doesn't exceed its container's width */
  max-height: 100%; /* Ensure it doesn't exceed its container's height */
}

#forecast-graph {
  width: 100%; /* Make the SVG element occupy full width of its container */
  height: auto; /* Allow SVG to adjust its height automatically */
  display: block; /* Ensure it behaves as a block element */
}

.clock-container, .other-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  margin: 10px 0;
}

#clock {
  font-size: calc(18vw);
}

.other-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  margin: 10px 0;
}

.bottom-left {
  position: absolute;
  width: 250px;
  height: 202px;
  bottom: 20px;
  left: 20px;
}

.alert-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 20px;
  z-index: 1000;
  display: none; /* Initially hidden */
}

.seven-day{
  position: absolute;
  bottom: 0px;
  right: -200px;
  display: flex;
  flex-direction: row;
  width: 1008px;
  height: 200px;
}

.dayname{
  width: 100%;
  text-align: center;
}

.condition{
  width: 100%;
}

.min-max{
  width: 100%;
  text-align: center;
}

.plus{
  margin: 5px;
  width: 100px;
}

#plus1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#plus7{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#sun-container {
  /* display: none;  Hide initially */
}
